.completed {
    color: green;
  }
  
  .pending {
    color: red;
  }
  /* description.css */

.yes-no-buttons {
  margin-right: 10px; /* Adjust the margin as needed */
  padding: 8px 16px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  border: none;
  cursor: pointer;
}

.yes-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.no-button {
  background-color: #f44336; /* Red */
  color: white;
}


  
  