/* styles for sidebar */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 60px; /* Adjust with navbar height */
  left: 0;
  background-color: #0f0e0e;
  color: white;
}

.sidebar-header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #555;
}

.sidebar-header h2 {
  margin: 0;
  color: white; /* Set text color to white */
}

/* Remove underline from Link component inside h2 */
.sidebar-header a {
  text-decoration: none; /* Remove underline */
}

.sidebar-menu {
  padding: 20px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-menu li a {
  text-decoration: none; /* Remove underline */
  color: white; /* Change text color to white */
}

.sidebar-menu li i {
  margin-right: 10px;
}

/* Style for FontAwesome icons */
.sidebar-menu li .fa {
  width: 20px;
}

/* Hover effect */
.sidebar-menu li:hover {
  background-color: #444;
}

/* Active item style */
.sidebar-menu li.active {
  background-color: #555;
}
