.staffcard-container {
    display: flex;
    gap: 30px; /* Adjust the space between cards */
  }
.staff-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    margin: 10px; /* Add margin to decrease space between each card */
    padding: 20px;
    width:  100%; /* Adjust the width as needed */
  }
  
  .card-image-staff {
    width: 100%; /* Make the image container fill the width of the card */
    height: 230px; /* Adjust the height of the image container */
    overflow: hidden; /* Ensure the image doesn't overflow */
  }
  
  .card-image-staff img {
    width: 100%; /* Make the image fill its container */
    height: 100%; /* Make the image cover the entire height of the container */
    object-fit: cover; /* Ensure the image covers the container while preserving aspect ratio */
    border-radius: 10px 10px 0 0; /* Rounded corners for the top of the image container */
  }
  
  .card-details-staff {
    margin-top: 10px; /* Add margin between image and details */
    text-align: center;
  }
  
  .staff-name-staff {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
  }
  
  .staff-designation-staff {
    margin: 0;
    font-size: 1rem;
    color: #666;
  }
  