.worklist-table {
  border-collapse: collapse;
  width: 100%;
  border: none; /* Add this line to remove table border */
}

.worklist-table th,
.worklist-table td {
  /* Remove border property */
  padding: 8px;
  text-align: center;
}

.worklist-table th {
  background-color: #f2f2f2;
  color: #333;
}

.worklist-table tr:nth-child(even) td {
  background-color: #f9f9f9;
}
.completed {
  color: green;
}

.pending {
  color: red;
}
